@page "/"

<PageTitle>Index</PageTitle>

<h1>REGISTRO DE PRÉSTAMOS</h1>

<h2>Entrega de primer parcial del semestre 2-2023 solicitado por Enel Almonte.</h2>


Lisbeth Tejada / 2020-0503
<SurveyPrompt Title="How is Blazor working for you?" />
